.about {
    height: 45vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: 5;
}

.section-2 {
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}  

.section-2-header1 h1 {
    font-size: 100px;
    color: #DB5050;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: Chinese Rocks;
}

.section-2-header1 h2 {
    font-family: Cardenio Modern;
    font-size: 30px;
}

.section-2-header1 {
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.section-2-images {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.section-2-img-1 {
    background-image: url('../../Assets/town.png');
    width: 30%;
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-2-img-3 {
    background-image: url('../../Assets/landscape.png');
    width: 30%;
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

