.video-page {
    height: 70vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-bottom: black;
}

.video {
    height: 40vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
 .video-img {
     height: 1.5vh;
     width: 100%;
     margin-top: 10px;
     margin-right: 130px;
 }

    .video-img-1 {
        background-image: url('../../Assets/Icon_Shard.png');
        width: 100%;
        height: 40%;
        background-position: center;
        background-size: fill;
        
    }


.video-page h1 {
    font-family: Cardenio Modern;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}